<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">Brand</a>
	</div>
</nav>

<div class="container">
<%= flash[:error] %>
	<div class="row">
		<div class="col-sm-6">
		
			<div class="item">
				<h1>Whale Facts</h1>
				<h4>Get facts about whales sent to your phone</h4>
				<h5>1 cool whale fact per day, for 30 days, for $1!</h5>
				<%= form_for @subscriber, :html => { :id => "chargeForm", :class => "form-inline" } do |f| %>
				  <div class="form-group">
				    <%= f.telephone_field :phone, placeholder: "phone number", class: "form-control", id: "phonenumber" %>
				  </div>
				  <%= f.submit "Subscribe", id: "subscribeButton", class: "btn btn-default" %>
				  
				  <script src="https://checkout.stripe.com/checkout.js"></script>
                  <%= hidden_field_tag 'stripeToken' %>
                  <%= hidden_field_tag 'stripeEmail' %>
                  
                   <script>
                      var handler = StripeCheckout.configure({
                      key: 'pk_test_zPwH8mfvYp2jFa9LtjNjjM9b',
                      image: '#',
                      token: function(token, args) {
                            document.getElementById("stripeToken").value = token.id;                              
                            document.getElementById("stripeEmail").value = token.email;
                            document.getElementById("chargeForm").submit();
                          }
                        });
                
                      $(document).on("click", "#subscribeButton", function () {
                        // Open Checkout with further options
                        handler.open({
                          name: 'Texter',
                          description: 'Subscription ($1.00)',
                          amount: 100,
                        });
                        event.preventDefault();
                        });
                      
                    </script>
				<% end %>
				<h6>Text "stop" to unsubscribe</h6>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="item2">
				<h1>Cat Facts</h1>
				<h4>Get facts about cats</h4>
				<h5>1 cool cat fact per day, for 30 days, for $1!</h5>
				<form class="form-inline">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email address</label>
				    <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Phone number">
				  </div>
				  <button type="submit" class="btn btn-default">Subscribe</button>
				</form>
				<h6>Text "stop" to unsubscribe</h6>
			</div>
		</div>
	</div>

</div>